USE [VENPRO]
GO
/****** Object:  Table [dbo].[columnasimport]    Script Date: 03/16/2019 16:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[columnasimport](
	[codcolumna] [int] IDENTITY(1,1) NOT NULL,
	[nomcolumna] [varchar](250) NOT NULL,
	[nomcolumnaxml] [varchar](250) NOT NULL,
	[tipocolumna] [varchar](50) NULL,
	[size] [float] NULL,
	[formato] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[codcolumna] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nomcolumna] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[columnasimport] ON
INSERT [dbo].[columnasimport] ([codcolumna], [nomcolumna], [nomcolumnaxml], [tipocolumna], [size], [formato]) VALUES (1, N'Tr_PLU', N'Tr_PLU', N'Int', 0, NULL)
INSERT [dbo].[columnasimport] ([codcolumna], [nomcolumna], [nomcolumnaxml], [tipocolumna], [size], [formato]) VALUES (2, N'CodigoPLU', N'CodigoPLU', N'VarChar', 50, NULL)
INSERT [dbo].[columnasimport] ([codcolumna], [nomcolumna], [nomcolumnaxml], [tipocolumna], [size], [formato]) VALUES (3, N'AnularItem', N'AnularItem', N'Int', 0, NULL)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
SET IDENTITY_INSERT [dbo].[columnasimport] OFF
/****** Object:  Table [dbo].[tablaimport]    Script Date: 03/16/2019 16:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tablaimport](
	[codtabla] [int] IDENTITY(1,1) NOT NULL,
	[nomtabla] [varchar](250) NOT NULL,
	[nomtablaxml] [varchar](250) NOT NULL,
	[col_posicion_update] [int] NULL,
	[col_posicion_update1] [int] NULL,
	[col_posicion_update2] [int] NULL,
	[col_posicion_update3] [int] NULL,
	[col_posicion_update4] [int] NULL,
	[col_posicion_update5] [int] NULL,
	[col_posicion_update6] [int] NULL,
	[col_posicion_update7] [int] NULL,
	[modoactualizacion] [varchar](50) NULL,
	[estadoactivo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[codtabla] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nomtabla] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nomtablaxml] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tablaimport] ON
INSERT [dbo].[tablaimport] ([codtabla], [nomtabla], [nomtablaxml], [col_posicion_update], [col_posicion_update1], [col_posicion_update2], [col_posicion_update3], [col_posicion_update4], [col_posicion_update5], [col_posicion_update6], [col_posicion_update7], [modoactualizacion], [estadoactivo]) VALUES (1, N'plu', N'plu', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'ELIMINARINSERTAR', 1)
INSERT [dbo].[tablaimport] ([codtabla], [nomtabla], [nomtablaxml], [col_posicion_update], [col_posicion_update1], [col_posicion_update2], [col_posicion_update3], [col_posicion_update4], [col_posicion_update5], [col_posicion_update6], [col_posicion_update7], [modoactualizacion], [estadoactivo]) VALUES (2, N'frame', N'frame', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'ELIMINARINSERTAR', 1)
INSERT [dbo].[tablaimport] ([codtabla], [nomtabla], [nomtablaxml], [col_posicion_update], [col_posicion_update1], [col_posicion_update2], [col_posicion_update3], [col_posicion_update4], [col_posicion_update5], [col_posicion_update6], [col_posicion_update7], [modoactualizacion], [estadoactivo]) VALUES (3, N'discount', N'discount', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'ELIMINARINSERTAR', 1)
SET IDENTITY_INSERT [dbo].[tablaimport] OFF
/****** Object:  Table [dbo].[validacionxml]    Script Date: 03/16/2019 16:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[validacionxml](
	[fecharegistro] [date] NOT NULL,
	[ruta] [varchar](500) NOT NULL,
	[archivo] [varchar](300) NOT NULL,
	[tag1] [varchar](250) NOT NULL,
	[tag2] [varchar](250) NULL,
	[tag3] [varchar](250) NULL,
	[tag4] [varchar](250) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[validacion]    Script Date: 03/16/2019 16:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[validacion](
	[codtienda] [int] NULL,
	[horaenvio] [time](7) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipoconexion]    Script Date: 03/16/2019 16:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tipoconexion](
	[codtipoconexion] [int] NOT NULL,
	[nomtipoconexion] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[codtipoconexion] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nomtipoconexion] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tipoconexion] ([codtipoconexion], [nomtipoconexion]) VALUES (3, N'ACCESS')
INSERT [dbo].[tipoconexion] ([codtipoconexion], [nomtipoconexion]) VALUES (1, N'MYSQL')
INSERT [dbo].[tipoconexion] ([codtipoconexion], [nomtipoconexion]) VALUES (4, N'OTROS')
/****** Object:  Table [dbo].[tienda]    Script Date: 03/16/2019 16:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tienda](
	[codtienda] [int] NOT NULL,
	[nomtienda] [varchar](100) NULL,
	[servidor] [varchar](100) NULL,
	[ruta] [varchar](200) NULL,
	[usuario] [varchar](100) NULL,
	[password] [varchar](100) NULL,
	[estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[codtienda] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nomtienda] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[servidor] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tienda] ([codtienda], [nomtienda], [servidor], [ruta], [usuario], [password], [estado]) VALUES (103, N'Tottus Mega Plaza', N'localhost', N't=/103/pcmaster/|f=0=yyyyMMdd|', N'anonymous', NULL, 1)
INSERT [dbo].[tienda] ([codtienda], [nomtienda], [servidor], [ruta], [usuario], [password], [estado]) VALUES (104, N'Tottus Las Begonias', N'192.168.52.141', N't=/104/pcmaster/|f=0=yyyyMMdd|', N'anonymous', NULL, 1)
INSERT [dbo].[tienda] ([codtienda], [nomtienda], [servidor], [ruta], [usuario], [password], [estado]) VALUES (105, N'Tottus La Marina', N'172.23.25.61', N't=/discod/tlog/Backups/|f=0=yyyyMMdd|', N'soporte', N'$0p0rt3p0$', 1)
/****** Object:  Table [dbo].[tablaimport_columnaimport]    Script Date: 03/16/2019 16:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tablaimport_columnaimport](
	[codtabla] [int] NOT NULL,
	[codcolumna] [int] NOT NULL,
	[posicion] [int] NOT NULL,
 CONSTRAINT [PK_tablaimport_columnaimport] PRIMARY KEY CLUSTERED 
(
	[codtabla] ASC,
	[codcolumna] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tablaimport_columnaimport] ([codtabla], [codcolumna], [posicion]) VALUES (1, 1, 1)
INSERT [dbo].[tablaimport_columnaimport] ([codtabla], [codcolumna], [posicion]) VALUES (1, 2, 2)
INSERT [dbo].[tablaimport_columnaimport] ([codtabla], [codcolumna], [posicion]) VALUES (1, 3, 3)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
/****** Object:  Table [dbo].[conexionbd]    Script Date: 03/16/2019 16:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[conexionbd](
	[codconexionbd] [int] IDENTITY(1,1) NOT NULL,
	[codtipoconexion] [int] NOT NULL,
	[nomconexion] [varchar](100) NOT NULL,
	[conexion] [text] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[codconexionbd] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nomconexion] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[conexionbd] ON
INSERT [dbo].[conexionbd] ([codconexionbd], [codtipoconexion], [nomconexion], [conexion]) VALUES (1, 2, N'PRUEBA SQL', N'Data Source=PCV;Initial Catalog=test;Integrated Security=True;')
INSERT [dbo].[conexionbd] ([codconexionbd], [codtipoconexion], [nomconexion], [conexion]) VALUES (2, 1, N'MYSQL VENTASPRO', N'Server=PCV;Database=ventaspro;User id=root;Password=admin;Allow User Variables=True;persist security info=true; command timeout=30000;')
INSERT [dbo].[conexionbd] ([codconexionbd], [codtipoconexion], [nomconexion], [conexion]) VALUES (3, 3, N'PRUEBA ACCESS', N'Provider=Microsoft.ACE.OLEDB.12.0;Data Source=E:\RPE\RPE\bin\Debug\BD\access.accdb; Persist Security Info=False;')
SET IDENTITY_INSERT [dbo].[conexionbd] OFF
/****** Object:  ForeignKey [FK_conexionbd_tipoconexion]    Script Date: 03/16/2019 16:52:53 ******/
ALTER TABLE [dbo].[conexionbd]  WITH CHECK ADD  CONSTRAINT [FK_conexionbd_tipoconexion] FOREIGN KEY([codtipoconexion])
REFERENCES [dbo].[tipoconexion] ([codtipoconexion])
GO
ALTER TABLE [dbo].[conexionbd] CHECK CONSTRAINT [FK_conexionbd_tipoconexion]
GO
/****** Object:  ForeignKey [FK_tablaimport_columnaimport_columnasimport]    Script Date: 03/16/2019 16:52:53 ******/
ALTER TABLE [dbo].[tablaimport_columnaimport]  WITH CHECK ADD  CONSTRAINT [FK_tablaimport_columnaimport_columnasimport] FOREIGN KEY([codcolumna])
REFERENCES [dbo].[columnasimport] ([codcolumna])
GO
ALTER TABLE [dbo].[tablaimport_columnaimport] CHECK CONSTRAINT [FK_tablaimport_columnaimport_columnasimport]
GO
/****** Object:  ForeignKey [FK_tablaimport_columnaimport_tablaimport]    Script Date: 03/16/2019 16:52:53 ******/
ALTER TABLE [dbo].[tablaimport_columnaimport]  WITH CHECK ADD  CONSTRAINT [FK_tablaimport_columnaimport_tablaimport] FOREIGN KEY([codtabla])
REFERENCES [dbo].[tablaimport] ([codtabla])
GO
ALTER TABLE [dbo].[tablaimport_columnaimport] CHECK CONSTRAINT [FK_tablaimport_columnaimport_tablaimport]
GO
